
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
#banner{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 808px;
    width: 1600px;
    background-position: left center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 131px; 
}
#banner .banner.con{
    max-width: 585px;
    text-align: right;
}
#banner .banner-con h3{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;
    color: black;
    margin-right: 230px;
}
#banner .banner-con p{
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    margin-bottom: 32px;
}
.btn{
    background-color: #F15B22;
    padding: 21px 26px;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btn a{
    text-decoration: none;
    color: white;
}


.fail-con{
    display: flex;
    align-items: center;
    gap: 87px;
    margin:0px 322px 128px 206px ;
    
}
.fail-con .img{
    max-width: 569px;
    max-height: 724.93;
}
.fail-con .text{
    max-width: 416;
    margin-top: 140px;
}
.fail-con .text h3{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    width: 288px;
}
.fail-con .text p{
    font-size: 16px;
    color:#444343;
    margin-bottom: 16px;
    width: 416px
}
.correct-list li{
    font-size: 16px;
    color:#444343;
    list-style: none;
    margin-bottom: 8px;
    color:#444343;
}


#plans .plan-con{
    max-width: 1140px;
    margin: 0 auto;
}
#plans .plan-con .plan-card{
    display: flex;
    justify-content: space-between;
    gap: 85px;
    margin-bottom: 129px;
}
.plan-box{
    /* max-width: 218px; 
    margin-top: 50px; */
    text-align: center;    
}
.plan-box img{
    margin-bottom: 24px;
    max-width: 92.96px;
}
.plan-box h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}
.plan-box p{
    font-size: 25px;
    color: #737272;
}
.headline h2{
    font-size:40px;
    font-weight: bold;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}
#add-sec{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-con{
    background-image:url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1140px;
    height: 300px;
    margin-bottom: 130px;
    padding-left: 64px;
    align-content: center;
}
.add-con h3{
    font-size: 40px;
    max-width: 459px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 24px;
}

.add-btn{
    background-color: #ffffff;
    padding: 21px 36px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: inherit;
}
.add-btn a{
    text-decoration: none;
    color:#F15B22;
}